[2017-06-23 23:57] mbenoni7 opened #1 "Doesn't work with Tasks that execute synchronously?"
This library looks useful, but it seems like it doesn't properly handle Tasks that execute synchronously in the thread of the caller, which leads to stack overflows.

The easiest way to show you what I mean is to make a small change to one of your test cases (readFile function, starting on line 22 of Program.fs in BenchmarkFS):

[code]

All I did was comment out your truly asynchronous task (`file

[2017-06-24 03:58] rspeele commented on #1
Hi,

Thanks so much for reporting this issue!

My first observation is that this issue does not present itself if I build in release configuration, or in debug configuration with "generate tail calls" enabled under project properties -> build. So that's one workaround.

I will take a look and see if I can fix it without tail calls.

[2017-06-24 04:19] rspeele commented on #1
This should be resolved by https://github.com/rspeele/TaskBuilder.fs/commit/b804b6f7316b7f569eb5deff4aba54ef7cefa0a7 .

Let me know if it works for you so I can close this.

[2017-06-25 23:24] mbenoni7 commented on #1
Wow, great turnaround. That does indeed fix the issue.

One more question: is this intended to support the recursive CE style as well? If so, there's a similar problem there. For example, if I again rewrite the `readFile` function from above ...

[code]
... this also gives me a stack overflow (in release mode, BTW).

[2017-06-26 00:58] rspeele commented on #1
Another good catch -- I'll take a look at this one tomorrow.

[2017-06-28 02:28] rspeele commented on #1
After mulling this over for a couple days, I don't think it can be done. At least, not with TaskBuilder returning a `Task<'a>`. It could probably be made to work if TaskBuilder returned its internal `Step` monad and let you convert that to a task separately, but I think keeping it simple for translation from C# -> F# is too important to do that. So I have chosen to document the behavior in the REA

[2017-06-28 20:17] mbenoni7 commented on #1
Interesting. The Task builder in FSharpx.Extras supports this usage, but according to some casual benchmarks of mine, that builder is significantly slower than this one (and generates a ton more garbage). That suggests to me that they have accepted some of the negative performance trade-offs you allude to in your last paragraph.

I can live with a more imperative coding style to get closer to C#-l

[2017-06-28 21:42] rspeele commented on #1
Unfortunately, I think the FSharpx.Extras implementation suffers even worse. Because they always use `Task.ContinueWith(...).Unwrap()` for `Bind` instead of creating a state machine, **there is no way** to write a correct long-running loop using that builder.

With FSharpx, **both** of the below code samples will eventually fail with an `OutOfMemoryException`. You can watch the memory usage grow i

[2017-06-28 22:42] 0x53A opened #2 "Is unitTask still required?"
Hi,

thank you for this great builder, I've been using it in a few projects.

Do you remember which code constructs caused the type inference issues and made you add ``unitTask``?

The reason I ask is that there was some work recently to improve the type inference in the compiler, so maybe this is already solved. If not, I would like to extract a repro and add an issue at https://github.com/Micros

[2017-06-28 23:24] rspeele commented on #2
Hi,

Sadly, yes. Here is the ugly case.

[code]

I think that your example works because of the special inference on record properties (i.e. same reason you could write `let f x = x.A + x.B`).

I would be really glad to get rid of `unitTask` if I could.

[2017-06-28 23:39] #1 closed

[2017-06-29 15:19] 0x53A commented on #2
Thanks! I created https://github.com/Microsoft/visualfsharp/issues/3281, let's see what happens.

[2017-07-01 00:14] rspeele commented on #2
I looked at the approach in your pull request and in the Query.fsi code linked by Don Syme, and at first I thought it only worked to discriminate between `Generic<SpecificType>` and `Generic<'a>`, so it wouldn't help with the `Task` situation, where we have `ParentType` and `ChildType<'a>`.

But I was also interested in playing around with using inline constraints more to support arbitrary awaitab

[2017-07-01 00:14] #2 closed

[2017-07-01 00:45] 0x53A commented on #2
Nice!

[2017-08-06 23:05] dustinmoris opened #4 "NuGet package"
Hi, first of all thanks for building this fancy task builder! From my first few tests it works like a charm! I came across it, because someone used your TaskBuilder.fs to improve the performance of the [Giraffe](https://github.com/dustinmoris/Giraffe) web framework and therefore I would be interested in consuming it via a NuGet package rather than having to copy/paste it every time you improve it

[2017-08-07 02:11] rspeele commented on #4
I'm in favor of it in principle. I don't know whether it should be a package including the source file or a compiled .dll, but I guess people can always grab the source themselves if they prefer to do it that way...

Anyway, feel free to open a PR!

[2017-08-17 16:37] NinoFloris opened #5 "Any way we can execute some continuations with ExecuteSynchronously?"
https://blogs.msdn.microsoft.com/pfxteam/2010/05/24/why-is-taskcontinuationsoptions-executesynchronously-opt-in/

I've also been working with getting F#'s TPL usage up to the perf level that C# has for a few of our  ASP.NET Core middlewares and judiciously adding `TaskContinuationOptions.ExecuteSynchronously` for small function bodies like exception handlers etcetera really made a huge difference

[2017-08-17 17:14] NinoFloris commented on #4
If this happens you might also want to add/change the Obsolete attribute on the TaskBuilder to just use `EditorBrowsable(EditorBrowsableState.Never)` as it's in a different assembly that should work.

[2017-08-18 02:50] rspeele commented on #5
I don't think this is possible (or necessary? not sure) since `Task.ContinueWith` is not used at all in the TaskBuilder, so we have nowhere to pass this option.

The implementation is designed to mimic the state machine generated by the C# compiler for `async` methods. It has a bit more overhead than the C# version because on each `MoveNext()` call it must call a closure to run the next chunk of s

[2017-08-18 03:40] NinoFloris commented on #5
Yeah saw that a while after posting this issue too, I think that is all the room you have there then. Never hurts to confirm though :)

Bottom line it's just a bit slower in stepping and probably more allocation hungry, that doesn't sound that bad actually ^_^. Our hotpaths are mostly using ContinueWIth + ExecSync at the right places, minimizing the time we're in a TPL continuation and evading the

[2017-08-18 03:40] #5 closed

[2017-08-18 03:45] rspeele commented on #5
Thanks!

[2017-08-18 16:12] NinoFloris opened #6 "BenchmarkDotNet results"
Alright locally moved the benchmark suite to BDN and these are the results
![screen shot 2017-08-18 at 18 10 11](https://user-images.githubusercontent.com/4218809/29467370-903e5b32-8440-11e7-9c02-10211f7b17e9.png)

TaskBuilder is looking good, expected to have a bit more allocs but overall the mean times are very close to C#.

Would you be willing to pull the changes of the setup for BDN and new p

[2017-08-18 22:58] rspeele commented on #6
Sure, sounds good. Glad to see the benchmark results look decent.

[2017-08-31 13:41] xperiandri opened #7 "What is the purpose of this if it exists in FSharpx.Extras ?"
https://github.com/fsprojects/FSharpx.Extras/

[2017-09-11 22:10] rspeele commented on #7
This builder is more convenient to use because it supports arbitrary awaitables including `Task`, `Task<'a>`, `YieldAwaitable`, `ValueTask`, etc. without requiring wrapper functions. This builder's license is also extremely permissive which makes it easy to drop into a project as if you'd written it yourself. I also believe it to be well tested, particularly around exception handling (which can be

[2017-09-12 05:55] xperiandri commented on #7
Agree, you've done cool thing.
What do you think about integrating into https://github.com/kekyo/FSharp.Control.FusionTasks ?

[2017-10-07 03:10] #4 closed

[2017-10-07 03:10] rspeele commented on #7
Don't think I'll pursue that; although that project is of course welcome to borrow any of this public domain code if they wish to.

[2017-10-07 03:10] #7 closed

[2018-02-09 12:25] dustinmoris opened #9 "Dispose is not called in task CE"
Hi,

Using the latest version of [Giraffe](https://github.com/giraffe-fsharp/Giraffe), which uses the latest version of `TaskBuilder.fs` (the NuGet package) I run into an issue where the `Dispose()` method is not being invoked from inside the task CE.

I have created the following project to reproduce the issue:

#### DisposableTest.fsproj:

[code]

#### Program.fs:

[code]

As you can see I have

[2018-02-09 15:16] rspeele commented on #9
The bug is in my `ReturnFrom` implementation, and I think it got introduced when I was refactoring to try to support tail call optimization. If I'm correct, code that uses `let! x = xTask; return x` should not be affected, vs `return! xTask` which is affected.  I'll fix it at lunchtime (couple hours from now).

Robert

[2018-02-09 18:46] rspeele commented on #9
This should be fixed in [1.0.1](https://www.nuget.org/packages/TaskBuilder.fs/1.0.1).

There is now also a test for this (combinations of TryFinally and ReturnFrom, both with and without exceptions in the wrapped continuation) to avoid future regressions.

[2018-02-09 22:18] dustinmoris commented on #9
Wow thank you for this quick fix! Much appreciated!

[2018-02-09 22:18] #9 closed

[2018-02-10 15:08] pkese opened #10 "Please elaborate a bit on "Tail calls are not optimized""
The main Readme file says "Tail calls are not optimized".

However it is written more in a defensive manner of restricting responsibility or covering one's back for the situation that could not be solved. It is indeed a good practice to warn that something is not expected to work.

It's not clear however what does work or how to make a workaround for stuff that doesn't.

I would propose to include

[2018-02-12 10:06] dustinmoris opened #11 "Async overload bind"
Hi,

Do you think we could add an Async overload bind to the TaskBuilder?

It would be mainly for convenience to save an `Async.StartAsTask` as seen [here](https://github.com/giraffe-fsharp/Giraffe.Tasks/blob/master/src/Giraffe.Tasks/Tasks.fs#L265-L268).

Related to: https://github.com/giraffe-fsharp/Giraffe/issues/225

[2018-02-16 02:35] garuma opened #12 "Issue with plain Task and do!"
Works:

[code]

Doesn't work:

[code]

With the following errors:

[code]

Basically the insensitive builder seem to not have the generic support for awaitable that's in the code

[2018-02-16 05:59] rspeele commented on #12
It should work if you `open FSharp.Control.Tasks.ContextInsensitive`.

The generic awaitable is not defined on the builder class, but on an extension method exported by that module. So you must open the module to use generic awaitables; just bringing in builder object itself is not enough.

[2018-02-16 05:59] rspeele commented on #11
I will go ahead and add this this weekend as long as it doesn't cause any type inference problems for existing code (I can't imagine why it would, but I will check).

[2018-02-16 06:56] cmeeren commented on #11
I don't think it will unless there are ambiguous types (I have run into them in the case of a CE that worked with both `Async<_>` and `Async<Result<_,_>>`), but if there are, you can work around it by adding the overload as an extension on the TaskBuilder class instead of as a proper member:

[code]

[2018-02-16 09:32] dustinmoris commented on #11
Nice, thank you!

[2018-02-17 18:07] rspeele commented on #6
Closing this issue as a non-issue. Still willing to accept a PR of course.

[2018-02-17 18:07] #6 closed

[2018-02-17 18:08] rspeele commented on #10
Done, see new README.

[2018-02-17 19:19] rspeele commented on #11
A Nu NuGet will soon be available to be NuGotten.

https://www.nuget.org/packages/TaskBuilder.fs/1.1.0

[2018-02-17 19:24] #10 closed

[2018-02-17 19:24] #12 closed

[2018-02-18 11:43] gusty commented on #11
What about introducing conversion functions instead of adding "magic overloads".
In contrast to C# where everything is automatically converted, in F# is not usual to have magic conversion happening all the time.
It's better to be explicit, makes easy to reason about the types and the code.

[2018-02-18 12:07] cmeeren commented on #11
I generally agree that explicit is good, but within reason:

1. If we were to be entirely explicit about everything we'd have to use assembly. Abstractions and other conveniences are, in general, necessary in order to be productive.
2. Magic is a matter of definition and knowledge ("sufficiently advanced technology is indistinguishable from magic" and all that).
3. The overloads that were added ar

[2018-02-18 12:12] gusty commented on #11
Thanks @cmeeren I know all that but I was not talking about technical details. Sorry if my comment wasn't clear enough.

[2018-02-18 12:13] cmeeren commented on #11
Updated my comment with a bit more remarks.

[2018-02-18 13:07] gusty commented on #11
Thanks @cmeeren see my comments below

I like abstractions too, but good ones. Ad-hoc overloading (when it's really ad-hoc) doesn't abstract anything, on the contrary.

When I say magic, I refer to something that works in an arbitrary scenario but not in all others, this happens without following any specific rule unless I see the implementations, where I will find what you describe in your points

[2018-02-19 12:20] forki opened #15 "TaskBuilder update breaks my tasks"
-    TaskBuilder.fs (1.0.1)
+   TaskBuilder.fs (1.1)

![image](https://user-images.githubusercontent.com/57396/36377465-8c397850-1577-11e8-9299-630b79da32e4.png)

any ideas? It breaks everything for me

[2018-02-19 12:39] gusty commented on #15
Is this after applying my PR https://github.com/rspeele/TaskBuilder.fs/pull/14 ?

[2018-02-19 12:42] forki commented on #15
That's not merged yet, right? So I assume no. This is with the official
nuget package.

Am 19.02.2018 13:40 schrieb "Gustavo Leon" <notifications@github.com>:

[2018-02-19 12:43] gusty commented on #15
Ah ok, since you posted in the other issue I though it was related to my fix.
Anyway I can have a look, can you manage to get a minimal repro? If I find a solution we can add it as a test.

[2018-02-19 12:45] forki commented on #15
I posted it there because I hoped to get wider attention to the issue.

Will try to reduce it

Am 19.02.2018 13:43 schrieb "Gustavo Leon" <notifications@github.com>:

[2018-02-19 13:06] forki commented on #15
let t = task { return Some "x" }

    let getX  = task {
        let! r = t
        if r = None then
            return! failwithf "Could not find x"
        else
            return r
    }

[2018-02-19 13:28] gusty commented on #15
I found a way to solve it in my PR but good luck with the original code ;)

If you want I can include another commit with this test and its fix.

[2018-02-19 13:29] forki commented on #15
yes please. it's a regression and hurts us badly.

[2018-02-19 15:45] rspeele commented on #15
I will be checking out Gustavo's PR this week to get F# 4.0 compat back. Sounds like it should be possible to fix with that code.

In the meantime here is a quick fix for this regression applied to the existing codebase:

https://www.nuget.org/packages/TaskBuilder.fs/1.1.1

Just out of curiosity, is there any reason you use `return!` instead of `return` here?

[2018-02-19 17:32] forki commented on #15
Yes the reason is @dsyme teached me that this is the correct way to do it

Am 19.02.2018 16:45 schrieb "Robert Peele" <notifications@github.com>:

I will be checking out Gustavo's PR this week to get F# 4.0 compat back.
Sounds like it should be possible to fix with that code.

In the meantime here is a quick fix for this regression applied to the
existing codebase:

https://www.nuget.org/packages/

[2018-02-19 19:02] gusty commented on #15
I also think ``return`` makes more sense and am curious to hear @dsyme explanations.

Anyway I updated my PR with the fix. If you can pull it and test your code please let me know.

[2018-02-20 05:31] forki commented on #15
I think it's value vs. continuation or something.

Am 19.02.2018 20:02 schrieb "Gustavo Leon" <notifications@github.com>:

[2018-02-20 18:25] dsyme commented on #15
You can do either - either way the failwith will fail to return either "return" type ``unit`` or ``Task<unit>`` or whatever.

[2018-02-20 19:06] forki commented on #15
Good. Thanks for clarification!

Am 20.02.2018 19:25 schrieb "Don Syme" <notifications@github.com>:

[2018-02-25 10:08] pkese commented on #10
Perfect! Thanks.

[2018-02-25 23:03] #15 closed

[2018-02-25 23:11] rspeele commented on #11
I agree that it's not a clean design to special-case this, and it could be confusing. At the same time, this project is fundamentally about convenience -- it is essentially a replacement for using `async {}` with `Async.AwaitTask` sprinkled throughout. As a bonus, performance is a little better too, but that's not the main reason for TaskBuilder to exist. After all, if performance is critical then

[2018-02-25 23:11] #11 closed

[2018-02-26 02:23] rspeele commented on #15
Just FYI, [1.2.0 rc](https://www.nuget.org/packages/TaskBuilder.fs/1.2.0-rc) is available now.
This has Gustavo's changes for 4.0 compability. It _should_ behave the same way both in terms of type inference and runtime performance, and seems to from my testing, but I don't have a big codebase to check against.

@forki would you be willing to try it out and see how it works with your code?

[2018-02-26 07:02] forki commented on #15
The module/namespace 'FSharp.Control.Tasks.TaskBuilder' from compilation unit 'TaskBuilder.fs' did not contain the namespace, module or type 'ContextInsensitiveTaskBuilder'

[2018-02-26 07:07] forki commented on #15
so basically whole projet breaks again. what do I need to do? and can you please write that into release notes

[2018-02-26 07:30] gusty commented on #15
Yes, this is a minor issue, easy to fix, there were some refactoring in the namespaces/modules.

Looking at the code the way it is right now you won't find ``ContextInsensitiveTaskBuilder`` anywhere, you will find that builder like this:

    FSharp.Control.Tasks.ContextInsensitive.TaskBuilder

Now, there are 2 ways to fix it, either you fix your code, or we can have a look at the taksbuilder and

[2018-02-26 07:30] rspeele commented on #15
In the RC, there is no longer a separate class for `ContextInsensitiveTaskBuilder`. There's just one `TaskBuilder` type and different extension methods on that type depending which module you open.

In what context are you referring to the task builder type by name? You could "fix" it by referring to `FSharp.Control.Tasks.TaskBuilder.TaskBuilder` but right now that isn't a great option as that mod

[2018-02-26 07:42] forki commented on #15
I'm lost. What namespace do I need to open to get old behavior?

[2018-02-26 08:18] gusty commented on #15
@forki. See the last snippet in my previous comment.

[2018-02-26 10:19] forki commented on #15
![image](https://user-images.githubusercontent.com/57396/36665064-d1421b40-1ae6-11e8-945d-deae374dbf2b.png)

I still get that error everywhere. Is it related to giraffe? Do they need to update first?

[2018-02-26 11:28] gusty commented on #15
I'm not sure if this is your case but if you are using TaskBuilder.fs in your project and at the same time your project uses another project that uses TaskBuilder (like Giraffe) you might run into problems, since the namespaces are the same.

I think ideally libraries using TaskBuilder shouldn't re-export TaskBuilder to avoid this.

[2018-02-26 13:05] forki commented on #15
/cc @dustinmoris

[2018-02-26 18:19] dustinmoris commented on #15
@gusty Could you elaborate what you mean? How can I not expose the task CE after referencing TaskBuilder.fs?

[2018-02-26 21:08] gusty commented on #15
Honestly I don't know, I just said "ideally", but I know that in some scenarios this is problematic, it happened to me with other libraries.

To answer your question I need to know more details, specifically how it is included in Giraffe, I haven't look at it.

But if you are copying the code, you can simply change the namespaces or mark it as internal, this will allow the users of Giraffe to use

[2018-02-27 03:56] ForNeVeR commented on #15
I think newer versions of Giraffe use TaskBuilder from NuGet, right?

https://github.com/giraffe-fsharp/Giraffe/blob/4b5852e80e49c11e11bb66a4065afd79b6ad778b/src/Giraffe/Giraffe.fsproj#L35

[2018-02-27 05:44] forki commented on #15
Yes. Including it via copy of the file worked excellent, but now we have a
bit of a stability issue. I hope we get that worked out soon.
I think the best way forward is for Giraffe to push a prerelease that is
compiled against beta TaskBuilder.fs. I could then paket update all of it
in my production apps and verify that everything plays well together.

And then we do a coordinated release of TaskB

[2018-03-06 07:24] forki commented on #15
@rspeele not sure why you closed it, but I can now confirm that a simultaneous update of taskbuilder and giraffe indeed works. so can you and @dustinmoris please somehow sync?

[2018-03-07 15:36] games opened #17 "TaskResultBuilder ?"
Hi, do you plan or any idea to make a TaskResultBuilder which similar with AsyncChoiceBuilder.

[code]

[2018-03-20 11:31] dustinmoris commented on #15
Hi, just to reiterate everything:

- In theory there were breaking changes between TaskBuilder.fs 1.0.1 and the versions after (1.1 and now 1.2-rc).
- Giraffe has a dependency on the the TaskBuilder.fs NuGet package.
- Updating Giraffe to the latest 1.2-rc build of TaskBuilder.fs fixes the errors for @forki because there is no conflict between the old and the new namespaces of TaskBuilder.fs.
- Ho

[2018-03-20 15:43] rspeele opened #18 "TaskBuilder 2 release"
This is a follow up on #15 to focus on how we release PR #14 .

TaskBuilder 1.1.1 (I think) already fixed @forki 's errors, the ones that #15 was originally about. It is stable.

1.1.1 and 1.2.0-rc have the same features and performance characteristics. They use the same underlying code for `bind`, `tryFinally`, etc. The difference is that thanks to @gusty rewriting the builder classes, 1.2.0-rc s

[2018-03-20 15:46] rspeele commented on #15
I opened a new issue for planning the release. #18

[2018-03-20 16:20] gusty commented on #18
Isn't it possible to release a version 2.0.0 with slightly different namespaces, so if the end user is somehow accessing both versions everything works fine?

[2018-03-22 02:39] rspeele commented on #18
Yes, this is pretty much what "route 2" would be.

It's just a question of which is worse:

a. Changing the namespace for the V2 API
or
b. Dealing with a bumpy migration to V2

[2018-03-22 03:47] dustinmoris commented on #18
Very nice summary! I like both approaches and I'm open to apply both of them.

Only (minor) side effect of approach 2 is that when you mark the old builders obsolete I think it would be nice to presume that these obsolete builders will eventually disappear with a future 2.x.x release, which gives end users a smoother transition period to upgrade their namespaces to V2. However, if a 2.x.x release

[2018-03-22 04:49] rspeele commented on #18
I think that might work if we also change the DLL name, so that it's possible to have two TaskBuilder versions distributed with an app as two DLLs. Otherwise, code written against the old version wouldn't be able to resolve its class/method references against the new version DLL, with them having moved to another namespace.

[2018-03-22 05:13] rspeele commented on #17
I think you can write your own pretty easily without getting into the guts of task handling, just by wrapping `TaskBuilder`. For now, I recommend going that route.

e.g.

[code]

[2018-04-09 06:15] games commented on #17
Hi @rspeele, yes I can write my own TaskResultBuilder (I currently do it in my few projects) but just I need to copy the file to all of my projects which uses Task+Result. so just wondering if I can use any other thirth party lib instead I do myself (especially I am using your TaskBuilder)  :-)

[2018-04-09 07:11] forki opened #19 "Could not load type 'BindI' from assembly 'TaskBuilder.fs"
Functions.StartTransaction. Microsoft.Azure.WebJobs.Script: One or more errors occurred. (Could not load type 'BindI' from assembly 'TaskBuilder.fs, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null'.). StartTransaction: Could not load type 'BindI' from assembly 'TaskBuilder.fs, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null'.

I get this error message when using TaskBuilder.fs prerelea

[2018-04-09 21:54] gusty commented on #19
I tried including the source code of TaskBuilder in an .fs file and seems to work, but it doesn't recognize the ``isNull`` functions, had to change them. Maybe is not using latest FSharp.Core.

Note: I'm not familiar with F# Azure Functions, just started playing with it, in order to reproduce this issue.

[2018-04-10 03:06] forki commented on #19
The problem is that you can't decide which fsharp.core you want to use.
Azure functions don't support binding redirects and they ship their own
versions. I strongly advocate for TaskBuilder.fs to use a lower
fsharp.core.

Gustavo Leon <notifications@github.com> schrieb am Mo., 9. Apr. 2018, 23:54:

[2018-05-22 14:31] buybackoff opened #21 "Caching bool tasks"
I work a lot with `Task<bool>`, whose two possible valid results could be cached. I added a simple logic:

[code]

If that was written in C#, then JIT would treat `typedefof<'a> = typedefof<bool>` as JIT-time constant and completely eliminate branch. Should we use `typedefof` or `typeof` for this? Also C#'s version `(T)(object)(value)` doesn't cause `object` allocation for value types since JIT is

[2018-05-27 01:40] rspeele commented on #18
Well, I've been dreading this and putting it off long enough, so it's time to wince and pull the trigger on [2.0.0](https://www.nuget.org/packages/TaskBuilder.fs/2.0.0).

The new code is under FSharp.Control.Tasks.V2 (e.g. FSharp.Control.Tasks.V2.ContextInsensitive).
This is what the the README now recommends.

The old code is under FSharp.Control.Tasks for compatibility.

Please open a new issue

[2018-05-27 01:46] rspeele commented on #21
I have to agree with your commentary on the fslang-suggestions topic that Task-building is best implemented in the compiler (i.e. not by me), just like in C#, so optimizations like this can be done without runtime penalty.

If you check the IL, F#'s typedefof is pretty inefficient. C#'s `typeof(X<>)` compiles straight to a ldtoken, while F#'s `typedefof<X<_>>` is the same as writing `typeof<X<obj>

[2018-05-27 01:48] rspeele commented on #19
I was going to target a lower FSharp.Core in the latest release, but the lowest I could get to while still using .NET Standard 1.6 was v4.1.17. Not wanting to screw with the other dependency versions, I left it there.

[2018-05-27 01:50] rspeele commented on #17
I recommend publishing your own wrapper (that you mentioned you're currently using) as a NuGet package. If you don't want it to be a big thing, you can use a [local feed](https://docs.microsoft.com/en-us/nuget/hosting-packages/local-feeds).

[2018-05-27 01:50] #17 closed

[2018-05-27 01:50] #18 closed

[2018-05-27 06:37] ForNeVeR commented on #21
[I believe we can fix that](https://github.com/Microsoft/visualfsharp/issues/5019)!

[2018-08-02 22:25] AntyaDev opened #22 "add support of specifying TaskScheduler"
How I can set my own TaskScheduler?

[2018-08-03 00:28] rspeele commented on #22
It's out of scope of this library. Something like the below may be what you're looking for:

[code]

[2018-08-03 07:26] AntyaDev commented on #22
@rspeele yes I have tried it, but I assume that next continuation is using TaskScheduler.Default which is not TaskScheduler.Current

[2018-08-09 19:18] rspeele commented on #22
Sorry, didn't see this. This library does not use Task.ContinueWith, it is equivalent in behavior to a C# async method. So I don't believe it applies, any more than you would try to set the scheduler for the next part of an async method after an `await`.

[2018-08-10 08:02] AntyaDev commented on #22
@rspeele about your example
[code]

[2018-08-20 06:29] dustinmoris opened #23 "The type 'Threading.Tasks.Task' is not compatible with the type 'Threading.Tasks.Task<'a>'"
I am not sure if I am doing something wrong or if this is a bug, but I am getting the following error when trying to do a `do!` binding:

[code]

![image](https://user-images.githubusercontent.com/4580714/44323614-8fafd300-a44a-11e8-9910-27ec0d0876af.png)

This is a netcoreapp2.1 project, with the latest TaskBuilder.fs and built on the latest 2.1.400 SDK.

I also opened `open FSharp.Control.Tasks.

[2018-08-20 06:50] forki commented on #23
Are you sure the error is not in next line? Different result type than inside the try/catch that happened to me a lot and error is always reported to early

[2018-08-20 07:00] dustinmoris commented on #23
Yeah I'm pretty sure, because the compiler throws the error on this line
too and the same code doesn't have a type problem with the TaskBuilder
which has the unitTask.

On Mon, 20 Aug 2018, 07:50 Steffen Forkmann, <notifications@github.com>
wrote:

[2018-08-20 07:03] forki commented on #23
Ok. Was just one thing that I was seeing a lot...

[2018-08-20 07:32] gusty commented on #23
Can you provide small repro?

[2018-08-20 19:09] dustinmoris commented on #23
Ok, I found the issue. It was between my chair and my keyboard. Thanks for the help!

[2018-08-20 19:09] #23 closed

[2018-08-20 20:05] forki commented on #23
Could you please be more specific? I think we still have at least a error
reporting issue here - probably inside of the F# compiler itself. (at least
that's what I was referring to in the stuff I was seeing)

Dustin Moris Gorski <notifications@github.com> schrieb am Mo., 20. Aug.
2018, 21:09:

[2018-08-20 20:16] #22 closed

[2018-08-20 21:14] dustinmoris commented on #23
@forki In my case I missed one place where I didn't change from `FSharp.Control.Tasks` to `FSharp.Control.Tasks.V2`.

[2018-10-03 13:01] nimashoghi opened #25 "Using ValueTask instead of Task"
Is there any way currently to use ValueTask instead of Task?

[2018-10-18 00:00] rspeele commented on #25
What's your objective in doing so?

If it is simply for compatibility with a library that accepts `ValueTask<T>` as input, you can use the constructor: `new ValueTask<_>(task { ... })`.

If it is for performance, I am sorry to say that there are so many FSharpFunc objects allocated in the course of running a desugared computation expression that it will not help in the slightest to make the final

[2019-01-11 15:19] #25 closed

[2019-02-04 17:52] jbtule opened #26 "Intended way to call async and ignore result"
`do!` isn't happy with a `Task<_>` and `let! _ =` can be a work around, but not very readable.

FSharp Async as `Async.Ignore`. But I don't see an equivalent with this library, and it seems like there should be.

Since Task<_> inherits from Task,  I'm thinking
[code]
should work. But we are in the middle of porting some C# to F# code, and haven't tested it other than type checking wise it appears

[2019-02-07 01:39] rspeele commented on #26
I just use `let! _ =` in my own code. It does look a little odd but in my view, it is equally or slightly more clear what's happening in `let! _ = someTask` compared to `do! Task.Ignore(someTask)`.
You can't end a `task { }` block with `let! _ = ...`, but in my mind it reads fine to just add another line of `return ()`.
Or just write `do! ... :> Task`.

That said, if you prefer to use a wrapper fu

[2019-02-07 16:15] jbtule commented on #26
Yeah the wrapper function did work for us, `do! ... |> Task.Ignore` but I kinda like the `do! ... :> Task` too.

[code]
Thanks!

[2019-02-07 16:15] #26 closed

[2019-04-25 14:20] dsyme opened #27 "Possible incorporation into FSHarp.Core"
I'm looking at an incorporation into FSHarp.Core, see https://github.com/Microsoft/visualfsharp/pull/6634

Please let me know what you think, please follow that thread and please look at the design carefully.  At the moment it follows the same general pattern as TaskBuilder.fs and the implementation is based on it.

Ply is also relevant, https://github.com/crowded/ply/, and we need to do state mac

[2019-06-17 15:01] isaacabraham opened #28 "Easy way to get result synchronously?"
Is there an equivalent of `Async.RunSynchronously` aside from the `.Result`? I'm thinking as a function that the task can be piped to.

[2019-06-18 05:44] rspeele commented on #28
Nope. Even if the builder handled this case specially, you could await any sort of Task in your `task {...}` block and end up subject to the same problems as you'll find with `.Result`. Therefore this cannot be supported any better than just using `.Result`.

[2019-06-18 05:44] #28 closed

[2019-06-19 07:36] isaacabraham commented on #28
@rspeele this is to stop getting spurious compiler errors like this:

[code]

which gives a compiler error: "This value is not a function and cannot be applied". The "fix" in this case is to either separate out the creation of the task and the `Result` member access, or wrap the `task { }` block in parentheses, neither of which are idiomatic.

I'd suggest adding something like `Task.RunSynchronous

[2019-06-19 07:39] isaacabraham commented on #28
You could create an type extension on top of Task quite easily to achieve the above:

[code]

[2019-06-19 15:36] rspeele commented on #28
Sorry, I'm not in favor of it. Four reasons:

1. Blocking the thread on a `Task` via `.Result` or `.Wait()` is not only wasteful, but depending on the synchronization context, can cause deadlocks. There should usually not be a reason to do this other than at the very top level of an app, e.g. just once within `main(argv)`. I think including a function to make this more convenient would make it loo

[2019-06-28 10:57] toburger commented on #28
A place where you need the synchronous result often is in F# scripting code or at the REPL.
But I think a simple code snippet to facilitate the usage at the beginning of the script is enough for this scenario.
That said I share your opinion of not providing such a helper out of the box.

Maybe a "universal" helper that awaits every kind of asynchronous operation for those scenario would be nice (t

[2019-08-06 19:00] isaacabraham opened #29 "Support for netstandard2.0"
Would it be possible to release a new version of this package that targets netstandard2.0 rather than 1.6? This has some benefits, one of which is that with the recent release of FSharp.Core 4.7, **much** simpler dependency graphs in Paket.

[2019-08-07 01:11] rspeele commented on #29
My concern with this is that, given that TaskBuilder.fs is riddled with inline code, there's a good chance a new build targeting netstandard20 will not be binary-compatible with the old builds.

If so, releasing it would do more harm than good as it could lead to dependency conflicts that cannot be solved with binding redirects. For this reason I'm very hesitant to make any releases other than fix

[2019-08-07 06:34] isaacabraham commented on #29
Hi. I can't comment on the binary compatibility risk so won't go there :-) But perhaps a major release number would alleviate those concerns? Also, if you keep the netstandard1.6 TFM, wouldn't that mean that people using 1.6 could continue to use it without a problem?

The eventual inclusion into F# Core would indeed resolve this in general but would necessitate a complete release of *for all exis

[2019-09-03 14:08] slang25 commented on #29
I can't see binary compatibility being an issue here, like Isaac says it's an additional TFM. The benefits of a ns2.0 release would be worth adding IMO

[2019-09-26 10:01] isaacabraham commented on #29
Now that NET Core 3 is out and FSharp.Core is completely on netstandard2.0, I'd love it if you would re-consider doing this now :-)

[2019-10-18 18:12] forki commented on #29
Please release a new version. netstandard1.6 was a big mistake and the whole ecosystem is moving away from it

[2019-11-08 12:09] isaacabraham commented on #29
@rspeele I understand that you might be busy with other things - I know you do this in your spare time. Would you consider bringing in someone to support you on this project in order to accept a PR on this?

Thanks!

[2019-12-05 04:32] rspeele commented on #29
Hi,

Sorry I'm way behind on this one. I merged Isaac's PR and put it out at 2.2.0-alpha. If that seems to work well when mixed with existing libraries that reference 2.1.0, I'll re-release the same thing as 2.2.1 (not alpha).

[2019-12-16 08:57] isaacabraham commented on #29
Happy to close this issue if everyone else is? :-)

[2020-01-16 16:24] NinoFloris opened #31 "Code is not sufficiently generic"
Was porting an old project (netcoreapp2.2) to 3.1 today, noticed something that did compile back then that doesn't anymore.

Note the compiler inferred an SRTP type var `^TEntity` here even though no SRTP constraints are used.

[code]

What seems to have happened here is EF moving from returning `Task<'T>` in 2.x to `ValueTask<'T>` in 3.x that caused this error to surface.

I've produced a minimal

[2020-02-02 17:40] isaacabraham commented on #29
@rspeele any chance of pushing this as a non-alpha release? :-)

[2020-02-09 21:36] slang25 commented on #29
The alpha package looks good, would love for a release @rspeele

[2020-05-22 12:55] slang25 commented on #29
@rspeele Would you be happy to release a 2.2.1 of this package, it's looking good from tests here 😃

[2021-04-27 17:58] dsyme opened #35 "Question on ContextInsensitive tasks"
Hi all,

A question for people who use TaskBuilder, in relation to https://github.com/fsharp/fslang-design/blob/master/RFCs/FS-1097-task-builder.md

As everyone might know, the proposed support for tasks in F# is very much based around the functionality of TaskBuilder and we started with the test suite (though the implementation is entirely new).

Now TaskBuilder supports ContextInsensitive tasks

[2021-04-27 19:03] 0x53A commented on #35
I use ``ContextInsensitive`` and would appreciate it also being in the built-in version.

There are two related but slightly different use-cases for ``ConfigureAwait (false)``:

1) move from UI Thread to ThreadPool to unblock the user interface: I agree that this should better be explicit
2) your work is not thread sensitive, and you don't care whether it continues on the ThreadPool

In both cases

[2021-04-27 19:15] dsyme commented on #35
I get your point, though the dual is also true - adding it may mean utility code doesn't stay UI-affinitized when the user expects it to ...

Anyway the default is ConfigureAwait(true) for better or worse, as it is in both C# task code and F# async.

The problem is that people are coming to tasks either from C# task code or F# async.  Some use TaskBuilder.fs but only a few.

1. C# makes it explici

[2021-04-27 19:16] dsyme commented on #35
@0x53A thanks for taking the time to reply. I'd love to have more data points.  Can you link your code?

[2021-04-27 19:20] rspeele commented on #35
I don't personally have to use ConfigureAwait very often in my day-to-day coding. When I use TaskBuilder I just open the default module.

However, my thinking when I added the ContextInsensitive builder was that people who *do* use ConfigureAwait(false), want to use it universally. Within a single async method if one awaited task is ConfigureAwait(false) and another is not, that's almost definitel

[2021-04-27 19:53] 0x53A commented on #35
I'm currently using it only with Giraffe, and as far as I know, it doesn't actually matter there, because asp.net core doesn't have a synchronization context. I'm still using the ``ContextInsensitive`` builder because I wasn't 100% sure, and it makes it more explicit.

In my current job I'm not using F# with a GUI app.

----------------------

This was more of a moral statement than a technical st

[2021-04-27 20:09] dsyme commented on #35
Yes indeed!  Thanks for this link :-)

[2021-04-27 20:11] dsyme commented on #35
F# has a few obscure open-able modules that very fe people end up using.   Does anyone really do

    open Checked

or

    open NullableOperators

or

    open NonStructuralComparison

?  I think these are barely known, especially the last

Am I write in thinking that a ContextInsensitive builder could be defined from the outside, in terms of a default ContextSensitive one in FSharp.Core?

[2021-04-27 20:51] baronfel commented on #35
One thing to check out here is the behavior with regards to AsyncLocals/ThreadLocals in the different modes, specifically that the new rewrite mechanism respects execution context capture and restore per @ninofloris's comment [here](https://github.com/dotnet/fsharp/issues/7890#issuecomment-671391008).

[2021-04-27 21:04] NinoFloris commented on #35
For task all of this will happen properly if all user code runs in IAsyncStateMachine.MoveNext as AsyncMethodBuilder.Start does the appropriate set & reset dance here https://github.com/dotnet/runtime/blob/9a905533d739564c14306ba3349fd7f7d3ebb834/src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/AsyncMethodBuilderCore.cs#L21

[2021-04-27 21:14] Lanayx commented on #35
I always use context insensitive builder in my apps and find it very convenient that I don't need to write ConfigureAwait(false) everywhere.

[2021-04-27 21:20] blakeSaucier commented on #35
We use task builder with ASP.Net (Giraffe) and Azure Functions. We use context insensitive.

[2021-04-29 18:02] davidglassborow commented on #35
I had a quick search on docs, found the info on [nullable operators](https://docs.microsoft.com/en-us/dotnet/fsharp/language-reference/symbol-and-operator-reference/nullable-operators), but couldn't find anything about opening Checked ( [arithmetic-operators](https://docs.microsoft.com/en-us/dotnet/fsharp/language-reference/symbol-and-operator-reference/arithmetic-operators) mentions Microsoft.FSh

[2021-04-29 18:31] dsyme commented on #35
yes

Some docs are here, but yes it should be in the language reference.

https://fsharp.github.io/fsharp-core-docs/reference/fsharp-core-operators-nonstructuralcomparison.html

[2021-05-01 19:39] LiteracyFanatic commented on #35
Recently worked on a small GUI made with Avalonia.FuncUI which needed to make a bunch of calls to an external service using HttpClient. I was using Ply rather than the original TaskBuilder, but they're pretty similar. Not having to worry about the UI locking up because of a missing ConfigureAwait(false) was pretty convenient.

[2021-05-04 16:30] bent-rasmussen commented on #35
Subtly different behavior depending on choice of open statement sounds like an accident waiting to happen. On the other hand I can't see a way to reconcile maximum conciseness with explicit local declaration of behavior and can sympathize with library authors who do not mix behaviors and hence do not see much confusion. Perhaps it would be nice to have some "tool-tip" to warn of non-default behavi

[2021-05-04 18:06] dsyme commented on #35
Another option is to have both "task {...}" and "backgroundTask {...}"

Though I find it frustrating that using ConfigureAwait(false) for backgroundTask still starts the task in the current thread, up to its first await point (if I understand correctly). I would prefer it did an immediate SwitchToThreadPool which is semantically much cleaner? I've never liked ConfigureAwait at all for this reason

[2021-05-07 21:23] kerams commented on #35
How much would the thread pool switch hurt scenarios where the awaited value is immediately available?

[code]

[2021-05-19 23:11] dsyme commented on #35
It would hurt in micro samples.  However it just seems such a shame to run the first synchronous part of a supposed "background task" on the UI thread just for the sake of a bit of CPU perf - the precious resource here is the UI thread - the programmer almost certainly just wants everything off the UI thread ASAP.

[2021-05-19 23:16] dsyme commented on #35
Any comments on `backgroundTask { ... }`?  Naming?

Also there's a possibility we'll add `valueTask { ... }` or `vtask { ... }` (though it sort of requires a .NET Standard 2.1 dependency, or at least is only maximally efficient with that). So presumably that would imply `backgroundValueTask { .. }` if we really wanted to complete the matrix

Note you can create ValueTask via

    task { ... } |> V

[2021-05-19 23:54] LiteracyFanatic commented on #35
I think `backgroundTask` is more intuitive than a lot of the previous terminology. It isn't at all obvious what `ContextInsensitive` or `ConfigureAwait(false)` mean until you go digging through documentation and blog posts trying to figure out why your code is broken. I haven't used Ply's more advanced builders so I can't comment on those unfortunately.

[2021-05-20 07:06] kentcb commented on #2
Sorry to necro this old issue, but what is the actual guidance for working with non-generic `Task`s? A simple repro of my issue:

[code]

Which produces this error:

[code]

One workaround we have is:

[code]

And then:

[code]

But this feels rather hacky.

[2021-05-20 07:08] kentcb opened #36 "Non-generic Tasks"
Hello,

Thanks for this useful library.

What is the guidance for working with non-generic `Task`s? A simple repro of my issue:

[code]

Which produces this error:

[code]

One workaround we have is:

[code]

And then:

[code]

But this feels rather hacky.

[2021-05-20 12:48] gusty commented on #36
It doesn't feel hacky to me.
It feels explicit.

[2021-05-20 13:41] dsyme commented on #36
Yes it feels pretty reasonable to me

[2021-05-20 13:45] isaacabraham commented on #36
@kentcb This is pretty standard with generics when going from F# unit (as 'T) to void in C# where you have this "equivalent" type for the void case in C# but just a single type in F#.

[2021-05-20 13:48] gusty commented on #36
Actually, F#+ has exactly that same `Task.Ignore` function, for the same purpose.

[2021-05-20 14:52] dsyme commented on #35
My plan is to implement `backgroundTask { .. }` like this:

[code]

So basically an immediate bind to `Task.Delay(1).ConfigureAwait(false)`. It seems to work but there's probably a better way not using `Delay`. Let me know if you know one. Unfortunately `Task.Yield()` returns a `YieldAwaitable` that does not support `ConfigureAwait(false)`.

[2021-05-20 19:46] rspeele commented on #36
Another option is the `upcast` operator. I find this nice when implementing interfaces that want a non-generic `Task`.

[code]

[2021-05-20 23:02] kentcb commented on #36
Thanks all! Glad we're on the right track.

[2021-05-20 23:02] #36 closed

[2021-05-21 11:54] dsyme commented on #27
Just to say this work is now ready for review, I'd be really grateful if people experienced with using TaskBuilder.fs could read the RFCs and review the implementation https://github.com/dotnet/fsharp/pull/6811

For example, should FSharp.Core come with things like `Task.Ignore` or other such APIs?  Right now it's `task { ... }` and `backgroundTask { ... }`

[2021-05-21 12:17] dsyme commented on #27
Also to mention that I removed the use of complex SRTP successfully replaced by a set of method overloads, see https://github.com/dotnet/fsharp/blob/feature/tasks/src/fsharp/FSharp.Core/tasks.fsi

Also see the RFC section https://github.com/fsharp/fslang-design/blob/master/RFCs/FS-1097-task-builder.md#bind-returnfrom-support

@rspeele Do you recall if there was a specific reason to use the more co

[2021-05-21 17:20] rspeele commented on #27
Hey, I think how you have it now, using extension methods in modules opened highest-priority-last, is how TaskBuilder used to work back when I last significantly contributed to it. Something like [this version](https://github.com/rspeele/TaskBuilder.fs/blob/f7d2f5aa87a167f10f2cd7798331282c540fa5b0/TaskBuilder.fs).

TaskBuilder in this form was, unbeknownst to me, dependent on a subtle change to ty

[2021-05-21 17:45] gusty commented on #27
@dsyme Nice job !

I like explicit things, like `Task.Ignore` and I think would be great to be explicit when converting to/from async, as it is more aligned with the F# way of doing things, and less with C# ad-hoc overloads.

[2021-05-21 22:24] dsyme commented on #27
@rspeele Thank you so much for the information

@gusty What would be your design principles for a Task module/type in F#?  Should it follow the naming and design of Async?  Or just be a couple of methods like Ignore?

[2021-05-22 06:05] gusty commented on #27
@dsyme that's a good question.

I understand the value of aligning with Async, but at the same time I think Async type is a bit special in the sense that all methods are Pascal case, because of the overloads, which require method instead of functions.

My personal preference is not to follow that design and align instead with the rest of the FSharp.Core modules. When there are cases which requires

[2021-05-22 12:04] dsyme commented on #27
It's certainly an important design point to consider.

We never wrote out a rationale for PascalCasing of Async.  Here are my recollections for the record

1. Overloading was needed for FromBeginEnd and friends

2. Many of the constructs related to things that were present in .NET and had .NET naming (AwaitWaitHandle).

3. At the time, F# Async was seen as a compositional multi-threaded, "here be

[2021-05-22 12:29] dsyme commented on #27
For me I think it's pretty much ok to implicitly bind an Async in a task.  It's essentially foregoing the multi-start and cancellation token passing of the Async

The other way around should be explicit with AwaitTask since the cancellation token is lost

[2021-05-22 19:18] gusty commented on #27
@dsyme thanks for sharing your thoughts, very interesting.

We should certainly open a suggestion for re-organizing F# core.
In F#+ Async module has only some most-wanted functions, it is by no means a complete module at the moment. There are also Async extensions, which follows the Pascal case naming because they are methods. But I'm not convinced that's the best way to go.

Even if we manage to

[2021-05-24 19:42] hvester commented on #35
After reading [this blog post](https://devblogs.microsoft.com/dotnet/configureawait-faq/) I'm wondering if it would be better to make the context insensitive builder the default, i.e. name it `task` and come up with some other name for context sensitive builder? It would also solve the problem that `backgroundTask` is either inaccurate name if it just uses `ConfigureAwait(false)` and thus starts t

[2021-05-24 21:51] dsyme commented on #35
For me it's acceptable because `backgroundTask` fundamentally says "I want to get off this thread ASAP" - e.g. that the UI thread CPU resource is more important than any other minor costs.  For example `backgroundTask { return fibbonacci 1000 }` should obviously not block the UI thread it's executed on, just to make `backgroundTask { return 1 }` a tiny bit faster.

Regarding the blog post - I'm no

[2021-05-25 05:56] hvester commented on #35
I agree it is not a problem when `backgroundTask` is used in application code, but if it is used in library code to cater possibly rare uses cases that require it then it means that all users of the library are affected.

Do you have some example where it would be beneficial that library would not use `ConfigureAwait(false)`. Isn't it enough that UI code is context sensitive so that continuation o

[2021-05-25 07:29] hvester commented on #35
One further point in favor of using context insensitive task builder in library code. Testing or using library that uses context sensitive awaits in F# Interactive in Visual Studio is cumbersome.
[code]
Though this is a problem only with .NET Framework based F# Interactive.

Edit: Simplified attempt3 to use return! instead of let! followed by return.

[2021-05-25 15:39] rspeele commented on #35
I am very much _against_ making the context-insensitive builder the default. I think it's of utmost importance for the simplest, most obvious, easiest-to-find version of `task { ... }` to behave as much like C# async methods as possible. This means one less surprise. Surprises, even harmless ones, make people feel betrayed and wonder what other surprises might be lurking for them.
Also, it gives C

[2021-05-25 16:04] dsyme commented on #35
Hmmm. First, for `backgroundTask`, the `Delay` is removed and `Task.Run` is now used instead, see [here](https://github.com/dotnet/fsharp/blob/feature/tasks/src/fsharp/FSharp.Core/tasks.fs#L207). I'm not sure if that makes a difference to your analysis.

Note that, currently, `ConfigureAwait(false)` is simply not emitted anywhere in `tasks.fs`. I guess that shows my dislike for the whole mechanism

[2021-05-25 16:58] dsyme commented on #35
FWIW I can see that neither `task { .. }` nor `backgroundTask { ... }` capture the computational modality for the kind of task writing that's in Stephen Toub's post. As you can guess I'm a fan of declarative computational modalities that satisfy laws, and in this case the declarative computational modality seems to be this horror:

It's additionally annoying that basic building blocks like `Task.Y

[2021-05-25 17:23] rspeele commented on #35
I think the fact that you are using Task.Run(...) for `backgroundTask` rather than being a ContextInsensitive builder with an initial `Delay` changes my view of it completely. I think I misread it initially and thought that it was *only* doing ConfigureAwait(false) plus making the task delay or yield before running the first line of synchronous code.

That does make it suitable for the use case of

[2021-05-25 17:37] dsyme commented on #35
Yeah, `backgroundTask` makes sense to me.

What would you think if the spec of backgroundTask was this (instead of always using `Task.Run`)?

[code]

So `backgroundTask` = `backgroundIfNecessaryTask` and then can be used to write affine library code as well (though is slightly more eager to get off the UI thread than `task` with ConfigureAwait - which as I've said might actually be a good thing in

[2021-05-25 18:52] hvester commented on #35
This is a good point that I agree with.

I think the worst part of task spec is that you cannot be sure that after first `ConfigureAwait(false)` the synchronization context is dropped, which is also the biggest reason why I suggested to consider making context insensitive builder the default.

I think this is an awesome solution that addresses many things at once:
- Performant and thus suitable fo

[2021-05-26 12:38] dsyme commented on #35
@hvester Thank you for your feedback, it's invaluable.

[2021-05-26 13:54] dsyme commented on #35
I've updated the spec and implementation to reflect this variation on `backgroundTask { .. }`

At some point we should write a blog about this too.  It's a good example where F#'s CE support allows subtly different computational modalities to co-exist (e.g. passing CancellationToken implicitly, or this), eliminating whole swathes of complexity.

[2021-05-26 14:11] NinoFloris commented on #35
Gave my two cents over here https://github.com/fsharp/fslang-design/pull/571#issuecomment-848796491

[2021-05-26 15:23] dsyme commented on #35
@NinoFloris's comments are:

I agree there's a potential naming confusion, though since this name is not actually in use I think we can control it's understanding to some extent through docs etc.  But if we can come up with a better name I'd like that.

Randomly thinking about naming:

* `escapeContextTask { ... }`
* `nonContextualTask { .. }`
* `freeTask { ... }`
* `backgroundTaskIfNecessary { ..

[2021-05-26 16:57] hvester commented on #35
How about `threadPoolTask`? It doesn't in my opinion scream (at least as much) that it runs on a different thread as `backgroundTask` and it should be understandable.

[2021-05-26 17:06] 0x53A commented on #35
While I really like the name ``threadPoolTask``, I don't think it's strictly true for this spec. This is also one reason I'm not the biggest fan of ``backgroundTask``.

The main method of a console app does not have a synchronization context, so the current spec would run it synchronously.

Example:

[code]

As a user, I would expect it to print 1, 2, 3.
As I understand the current spec, the task

[2021-05-26 19:32] dsyme commented on #35
Hmmm I quite like `threadPoolTask` (with an appropriate change of spec to look at Thread.IsThreadPoolThread).

[2021-05-27 18:21] davidglassborow commented on #35
This might be a bad suggestion but here goes anyway:

Given a builder is just a type plus an instance, could we provide a TaskBuilder with optional config in the constructor that people can then use to configure as needed, assign to their own instance named in a way they like, with a few standard instances instantiated by default.

[code]

Then if people need weird variants, they can define their

[2021-05-27 18:37] smoothdeveloper commented on #35
@davidglassborow, I'm a bit task and F# CE illiterate, but I do like both:

* FSharp.Core comes with a restricted set of task builders, tailored for sound "declarative computational modalities that satisfy laws" uses, paired with a great documentation / guidance at the canonical places (FSharp.Core code comments and https://fsharp.github.io/fsharp-core-docs/)
* exposing a task builder with the act

[2022-09-02 03:00] xp44mm commented on #35
If you need to control the execution context (the observations of elements done by the observer), Rx provides the `ObserveOn` operator that lets you pass the scheduler that the emissions will be scheduled on.

[code]

another operator is `SubscribeOn` to control the execution context.